<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Compressor and Resizer</title>
</head>
<body>
    <div class="center">
        <% if(errormsg){%>
        <p style="color: red;"><%=errormsg%></p>
        <%}%>
        <h3>Upload Your Required picture to resize or compress</h3>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="image" accept=".jpg, .jpeg">
            <input type="submit" value="Upload">
    
        </form>
    </div>
</body>
</html>